<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Znajdź swój wymarzony film!!!</h1>
    <p class="lead">Wejdź, aby zobaczyć najnowsze premiery roku... Wszystko co musisz zrobić,
      to zarejestrowac się</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-3" (click)="registerToggle()" >Rejestracja</button>
      <button class="btn btn-info btn-lg" routerLink="/about" >Więcej informacji</button>
    </div>
  </div>

  <div  *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register  (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
