<div class="container mt-4">
  <div class="row">
    <div class="text-center mt-3">
      <h1>Pytania i odpowiedzi na temat serwisu </h1>
    </div>
    <br>
    <div class="row">
      <mat-card>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Pytanie 1:
              </mat-panel-title>
              <mat-panel-description>
                Co to jest za strona?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida lacus eu sodales elementum.
              Etiam ornare sollicitudin ullamcorper. Ut eget varius odio, at placerat libero. Donec quis rhoncus orci.
              Quisque in aliquet turpis. Nunc ipsum quam, posuere ut hendrerit nec, elementum nec enim.
              Nulla lobortis lacus vel neque tincidunt hendrerit. Maecenas vel metus non diam aliquet sagittis.
              Curabitur scelerisque blandit est a tincidunt. Proin ut odio hendrerit leo facilisis porttitor.
              Ut egestas sapien a suscipit rutrum. Suspendisse quis tincidunt leo.
              Sed porttitor gravida augue sit amet ultrices. Suspendisse sodales, turpis eu cursus hendrerit,
              lorem leo imperdiet augue, a pellentesque elit mi feugiat sapien. Aenean ut pulvinar orci,
              a ultrices nulla. Integer dictum sem a tortor volutpat maximus.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Pytanie 2:
              </mat-panel-title>
              <mat-panel-description>
                Jak mogę zarejestrować się na tej stronie?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida lacus eu sodales elementum.
              Etiam ornare sollicitudin ullamcorper. Ut eget varius odio, at placerat libero. Donec quis rhoncus orci.
              Quisque in aliquet turpis. Nunc ipsum quam, posuere ut hendrerit nec, elementum nec enim.
              Nulla lobortis lacus vel neque tincidunt hendrerit. Maecenas vel metus non diam aliquet sagittis.
              Curabitur scelerisque blandit est a tincidunt. Proin ut odio hendrerit leo facilisis porttitor.
              Ut egestas sapien a suscipit rutrum. Suspendisse quis tincidunt leo.
              Sed porttitor gravida augue sit amet ultrices. Suspendisse sodales, turpis eu cursus hendrerit,
              lorem leo imperdiet augue, a pellentesque elit mi feugiat sapien. Aenean ut pulvinar orci,
              a ultrices nulla. Integer dictum sem a tortor volutpat maximus.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Pytanie 3:
              </mat-panel-title>
              <mat-panel-description>
                Jakich metod płatności mogę używać korzystając z tej strony?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida lacus eu sodales elementum.
              Etiam ornare sollicitudin ullamcorper. Ut eget varius odio, at placerat libero. Donec quis rhoncus orci.
              Quisque in aliquet turpis. Nunc ipsum quam, posuere ut hendrerit nec, elementum nec enim.
              Nulla lobortis lacus vel neque tincidunt hendrerit. Maecenas vel metus non diam aliquet sagittis.
              Curabitur scelerisque blandit est a tincidunt. Proin ut odio hendrerit leo facilisis porttitor.
              Ut egestas sapien a suscipit rutrum. Suspendisse quis tincidunt leo.
              Sed porttitor gravida augue sit amet ultrices. Suspendisse sodales, turpis eu cursus hendrerit,
              lorem leo imperdiet augue, a pellentesque elit mi feugiat sapien. Aenean ut pulvinar orci,
              a ultrices nulla. Integer dictum sem a tortor volutpat maximus.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Pytanie 4:
              </mat-panel-title>
              <mat-panel-description>
                Co mogę oglądać na tej stronie?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida lacus eu sodales elementum.
              Etiam ornare sollicitudin ullamcorper. Ut eget varius odio, at placerat libero. Donec quis rhoncus orci.
              Quisque in aliquet turpis. Nunc ipsum quam, posuere ut hendrerit nec, elementum nec enim.
              Nulla lobortis lacus vel neque tincidunt hendrerit. Maecenas vel metus non diam aliquet sagittis.
              Curabitur scelerisque blandit est a tincidunt. Proin ut odio hendrerit leo facilisis porttitor.
              Ut egestas sapien a suscipit rutrum. Suspendisse quis tincidunt leo.
              Sed porttitor gravida augue sit amet ultrices. Suspendisse sodales, turpis eu cursus hendrerit,
              lorem leo imperdiet augue, a pellentesque elit mi feugiat sapien. Aenean ut pulvinar orci,
              a ultrices nulla. Integer dictum sem a tortor volutpat maximus.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Pytanie 5:
              </mat-panel-title>
              <mat-panel-description>
                Na jakich urządzeniach mogę korzystać z tej strony?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam gravida lacus eu sodales elementum.
              Etiam ornare sollicitudin ullamcorper. Ut eget varius odio, at placerat libero. Donec quis rhoncus orci.
              Quisque in aliquet turpis. Nunc ipsum quam, posuere ut hendrerit nec, elementum nec enim.
              Nulla lobortis lacus vel neque tincidunt hendrerit. Maecenas vel metus non diam aliquet sagittis.
              Curabitur scelerisque blandit est a tincidunt. Proin ut odio hendrerit leo facilisis porttitor.
              Ut egestas sapien a suscipit rutrum. Suspendisse quis tincidunt leo.
              Sed porttitor gravida augue sit amet ultrices. Suspendisse sodales, turpis eu cursus hendrerit,
              lorem leo imperdiet augue, a pellentesque elit mi feugiat sapien. Aenean ut pulvinar orci,
              a ultrices nulla. Integer dictum sem a tortor volutpat maximus.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    </div>
  </div>
</div>
<div class="blockquote-footer text-center">
  <p>2020 Thesis Project. Autor: Michał Jelonek</p>
</div>
