<div class="container mt-5">
  <div  style="text-align: center">
    <h1>O nas</h1>
    <p class="lead">Jest to przykładowa i demonstracyjna wypożyczalnia VOD, w która ma prezentować działanie frameworka Angular</p>
    <p>Strona zawiera między innymi:</p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum in nisl urna.
    Pellentesque accumsan urna eu neque ornare porttitor. Nulla suscipit mollis mi, nec congue lorem elementum congue. Nullam in erat nunc.
    Curabitur a nisl non libero hendrerit tristique. Pellentesque leo nibh, iaculis ut convallis ac, imperdiet consequat risus.
    Ut molestie interdum tortor, eu finibus mi tincidunt vitae. Mauris vitae neque aliquet, mattis dolor et, volutpat dui.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec dictum quam sodales, condimentum orci sed, molestie ipsum.
    Ut at lectus vestibulum, egestas tortor ac, eleifend arcu. Nam ut imperdiet ipsum, vel maximus neque. Sed ex purus,
    placerat eget euismod sit amet, viverra nec ipsum. Aenean consequat ex leo, maximus iaculis lorem sollicitudin nec.
    Maecenas nec aliquam purus, sit amet imperdiet turpis. Fusce a elementum nisl.

    <div class="text-center">
      <button class="btn btn-info btn-lg" routerLink="/" >Wróć do strony głównej</button>
    </div>
  </div>
</div>
